body {
    margin: 0px;
    font: normal 16px/20px "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #333;
}

h2 {
    margin: 0;
    padding: 10px 15px;
    font-size: 35px;
    line-height: 40px;
}

p {
    margin: 0px;
    display: block;
    padding: 10px 15px;
    background: rgb(229, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px 0px;
    word-break: break-all;
    color: #fff;
}
